/*Font - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

body {
  justify-content: center;
  align-items: center;
  background: #252839;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/*NavBar*/
.navlinks {
  padding-top: 0.7cm;
  text-align: right;
  padding-right: 1cm;
  word-spacing: 1cm;
}

.aboutnav {
  word-spacing: 0.1cm;
}

/*NameHead*/
.Namehead {
  text-align: center;
  color: #252839;
  -webkit-text-stroke: .3vw #32649d;
  text-transform: uppercase;
  display: block;
  font-size: 10vw;
}

.Namehead:hover {
  color: #70e9ef;
  transition: ease 2s;
  font-size: 11vw;
  -webkit-text-stroke: .3vw #c73926;
}

.Namehead:not(:hover) {
  transition: ease 1s;
}

.name-head-nav {
  margin: 4vw 20vw;
  margin-top: 0vw;
}

/*a Tags*/
a {
  text-decoration: none;
  color: lightblue;
  transform: 0.2s;
  overflow: hidden;
}

a:hover {
  color: cornflowerblue;
  transition: ease 1s;
}

/*Instagram*/
.insta-link {
  text-align: center;
  font-size: 3vw;
  word-spacing: 2vh;
  display: block;
  margin: 1vw 10vw;
}
.insta-link:not(:hover) {
  color: lightblue;
  transition: ease 1s;
}

.insta {
  padding-bottom: 5vw;
}

/*Instagram Shake Effect*/
.insta-div:hover .insta-link {
  animation:  shake 0.8s,
  changecolor 0.8s;
}

/*About Me*/
.aboutme {
  text-align: center;
  font-size: 3.5vw;
  word-spacing: 1vw;
  display: block;
}

.aboutme:not(:hover) {
  color: lightblue;
  transition: ease 0.5s;
}

.about-div {
  margin: 1vw 20vw;
}

/*About Me Effect*/
.about-div:hover .aboutme{
  animation:  shakeme 0.8s  ;
}

/*Cya*/
.cya-head  {
  text-align: center;
  color: #252839;
  -webkit-text-stroke: .2vw #32649d;
  text-transform: uppercase;
  display: block;
  word-spacing: 1vw;
  padding-top: 5vw;
  font-size: 5vw;
}

.cya-head:hover {
  transition: ease 2s;
  font-size: 6vw;
  -webkit-text-stroke: .2vw #69df95;
}

.cya-head:not(:hover) {
  transition: ease 1s;
}

/*Animations*/
/*X Shake*/
@keyframes shake{
  0%{
    transform: translateX(0)
  }
  25%{
    transform: translateX(25px);
  }
    
  50%{
    transform: translateX(-25px);
  }
  100%{
    transform: translateX(0px);
  }
} 

/*Y Shake*/
@keyframes shakeme{
  0%{
    transform: translateY(0)
  }
  25%{
    transform: translateY(25px);
  }
    
  50%{
    transform: translateY(-25px);
  }
  100%{
    transform: translateY(0px);
  } 
}

