/*Font - Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");

body {
  justify-content: center;
  align-items: center;
  background: #252839;
  font-family: "Poppins", sans-serif;
}

.about {
  word-spacing: 0.1cm;
}

.Namehead {
  text-align: center;
  font-family: "Poppins";
  color: #252839;
  -webkit-text-stroke: .3vw #32649d;
  text-transform: uppercase;
  display: block;
}

.Namehead:hover {
  color: #70e9ef;
  transition: ease 2s;
  font-size: 11vw;
  -webkit-text-stroke: .3vw #c73926;
}

.Namehead:not(:hover) {
  color: #252839;
  transition: ease 1s;
  font-size: 10vw;
}

.cya-head  {
  text-align: center;
  font-family: "Poppins";
  color: #252839;
  -webkit-text-stroke: .2vw #32649d;
  text-transform: uppercase;
  display: block;
  word-spacing: 1vw;
  padding-top: 5vw;
}

.cya-head:hover {
  color: #a35fdf;
  transition: ease 2s;
  font-size: 6vw;
  -webkit-text-stroke: .2vw #69df95;
}

.cya-head:not(:hover) {
  color: #252839;
  transition: ease 1s;
  font-size: 5vw;
}

.navlinks {
  padding-top: 0.7cm;
  text-align: right;
  padding-right: 1cm;
  word-spacing: 1cm;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: lightblue;
  transform: 0.2s;
  overflow: hidden;
}

a:hover {
  color: cornflowerblue;
  transition: ease 1s;
}


* {
  font-family: "Poppins";
  box-sizing: border-box;
}


.instacolor {
  text-align: center;
  font-size: 3vw;
  word-spacing: 2vh;
  border: darkslategray solid 1vh;
  border-radius: 1rem 1rem 1rem 1rem;
  display: block;
  margin: 1vw 10vw;
  font-family: "Poppins";
}
.instacolor:not(:hover) {
  color: lightblue;
  transition: ease 1s;
}

.aboutmeee {
  text-align: center;
  font-size: 3.5vw;
  word-spacing: 1vw;
  border-radius: 1rem 1rem 1rem 1rem;
  display: block;
  border: darkslategray solid 1vh;
  font-family: "Poppins";
}

.aboutmeee:not(:hover) {
  color: lightblue;
  transition: ease 0.5s;
}

.instaimg {
  width: 5vw;
  padding-top: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1cm;
}

.nmehd {
  margin: 4vw 20vw;
  margin-top: 0vw;
}

.aboutwt {
  margin: 1vw 20vw;
}

.insta2 {
  padding-bottom: 5vw;
}

.instacolor:hover + .aboutmeee{ color: #329d52; }
